
@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

.poke {
    text-align: center;
    font-family: 'Pokemon Solid';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 31px;
    color: #000000
}

#outer-box {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*border: 3px solid green;*/
}

.box-image img{
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 3px solid black;
}

.pokemon {
    object-fit: none;
}

.entry {
    margin: auto;
    display: block;
    text-align: center
}

.question {
    text-align: center;
    font-family: 'Pokemon Solid';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: #000000
}

.center-parent {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagebox1 { 
    width:25px; 
    height:25px;
    float: left;
    border:2px solid black;
    background: transparent;
    display: flex;
    margin: auto;
}

.imagebox2 { 
    width:25px; 
    height:25px;
    float: left;
    border:2px solid black;
    background: transparent;
    display: flex;
    margin: auto;
}

.imagebox3 { 
    width:25px; 
    height:25px;
    float: left;
    border:2px solid black;
    background: transparent;
    display: flex;
    margin: auto;
}
